<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Task_To_Perform" value=""/>
    <add key="Source_Endpoints" value="localhost"/>
    <add key="Source_Port" value=""/> <!-- leave empty to use default port -->
    <add key="Source_Keyspace" value=""/>
    <add key="Source_Table" value=""/>
    <add key="Target_Endpoints" value="localhost"/>
    <add key="Target_Port" value=""/> <!-- leave empty to use default port -->
    <add key="Target_Keyspace" value=""/>
    <add key="Target_Table" value=""/>
    <add key="File_Path" value="C:\migration-pair\data\migration.txt"/>
    <add key="Log_File_Path" value="C:\migration-pair\logs.txt"/>
  </appSettings>
</configuration>