<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Endpoints" value="localhost"/>
    <add key="Keyspace" value=""/>
    <add key="Table_Name" value=""/>
    <add key="File_Path" value="C:\data\migration.csv"/>
    <add key="Select_Columns" value="SELECT * from system.schema_columns WHERE columnfamily_name=? ALLOW FILTERING"/>
  </appSettings>
</configuration>