<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Task_To_Perform" value=""/>
    <add key="Source_Endpoints" value="localhost"/>
    <add key="Source_Keyspace" value=""/>
    <add key="Source_Table_Name" value=""/>
    <add key="Target_Endpoints" value="localhost"/>
    <add key="Target_Keyspace" value=""/>
    <add key="Target_Table_Name" value=""/>
    <add key="File_Path" value="C:\migration-pair\data\migration.csv"/>
  </appSettings>
</configuration>